# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Node
node_modules/
frontend/dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
